.header {
  display: flex;
  padding: 1%;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.logo {
  display: flex;
  width: 14%;
  padding-right: 2%;
}
.searchBox {
  align-content: center;
  background-image: linear-gradient(
    to right,
    rgb(216, 189, 216),
    rgb(212, 195, 248)
  );
  border-radius: 40px;
  position: relative;
  padding: 3px;
  right: 5%;
}
.input {
  border: none;
  flex: 1;
  border-radius: 40px;
  padding: 5px;
  padding-left: 10px;
  width: 100%;
  outline-width: 0;
}
