.items {
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  grid-gap: 10px;
  row-gap: 50px;
  padding: 15px;
  flex: 1;
  justify-content: center;
}
.item {
  cursor: pointer;
  box-shadow: 0 3px 20px rgb(0 0 0 / 0.2);
  display: flex;
  flex-direction: column;
  background-color: #f4eefaa7;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 6px;
  width: 300px;
  max-height: 500px;
  padding-bottom: 5%;
}

.item:hover {
  z-index: 100%;
  animation: scale 0.4s linear;
  animation-fill-mode: forwards;

}
  @keyframes scaledown {
      0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
      100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
      }
  }

  @keyframes scale {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
    }
}

.img {
  width: 300px;
  height: 300px;
}
.text {
  padding: 3%;
  display: flex;
  max-width: 250px;
  max-height: fit-content;
  flex-direction: column;
  justify-self: flex-start;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.center {
  text-align: center;
}
